snippet .. "注释"
<!-- ${1:something} -->
endsnippet

snippet input ""
<input type = "${1:something}" name = "${2:something}" />
endsnippet

snippet section ""
<section>
	${1:something}
</section>
endsnippet

snippet link ""
<link type="text/css" media="screen" href="${1:path}" rel="stylesheet">
endsnippet
