snippet for "for ... in ..."
for ${1:something} in ${2:something}:
	${3:something}
endsnippet

snippet print "print"
print(${1:something})
endsnippet

snippet if "if ... else"
if ${1:somethingHappen}:
	${2:DoThisCode}
else:
	${3:DoThisCode}
endsnippet

snippet main "main"
if __name__ == '__main__':
endsnippet
